<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>chat_sdk</key>
	<dict>
		<key>anonymous</key>
		<dict>
			<key>enabled</key>
			<true/>
		</dict>
		<key>facebook</key>
		<dict>
			<key>app_id</key>
			<string>277327356243546</string>
		</dict>
		<key>firebase</key>
		<dict>
			<key>cloud_messaging_server_key</key>
			<string>AAAADMxmnp8:APA91bEif6faFsVLKeTwH9Yyx4f9gyTSbs1eLMfi6PWwtLp76Wz_zo2oexQ-N-U3cA7VVQUNRRNwvOmbHSMvB7dBpM5boV1kbYsROU_m5-QSfx1Vp4UrBLCN-6JIoMVonzMpNxYGMUHc</string>
			<key>root_path</key>
			<string>test</string>
		</dict>
		<key>google</key>
		<dict>
			<key>client_key</key>
			<string>1006314204999-e1g3on3es7kdopjqc2bbgqmek9fp7jrs.apps.googleusercontent.com</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>app_badge_enabled</key>
			<true/>
			<key>user_chat_info_enabled</key>
			<true/>
		</dict>
		<key>twitter</key>
		<dict>
			<key>api_key</key>
			<string>Kqprq5b6bVeEfcMAGoHzUmB3I</string>
			<key>secret</key>
			<string>hPd9HCt3PLnifQFrGHJWi6pSZ5jF7kcHKXuoqB8GJpSDAlVcLq</string>
		</dict>
	</dict>
</dict>
</plist>
